

<h1>Hello!</h1>

<div class="Welcome">
  <p id="para">Welcome to Curio!<br>
<span>Sex</span> is hard to talk about<br>
This is a safe place to explore.
</p>
</div>

<center><%= link_to( image_tag("BUTTON-small.png"), contents_path) %></center>
